<div class="container mt-1">  

  <h2>Editar Férias de <%= user.nome %> (<%= user.matricula %>) Ano (<%= user.ano_referencia %>)</h2>
  <h4>Cuidado!!! Não possui todas as verificações</h4>
  <h4>Em caso de erro, exclua as férias e recadastre</h4>


<form id="editFeriasForm" action="/vacations/edit/<%= user.matricula %>/<%= user.ano_referencia %>" method="POST" data-matricula="<%= user.matricula %>" data-ano="<%= user.ano_referencia %>">
  <input type="hidden" name="_method" value="PUT">
  <input type="hidden" name="qtd_periodos" value="<%= ferias.length %>">

  <% ferias.forEach((vacation, index) => {
      const i = index + 1;
  %>
    <input type="hidden" name="periodo_<%= i %>" value="<%= vacation.periodo %>">

    <div class="border rounded p-3 mb-3">
      <h5>Período <%= vacation.periodo %></h5>

      <div class="mb-3">
        <label for="data_inicio_<%= i %>" class="form-label">Data de Início</label>
        <input
          type="date"
          class="form-control"
          id="data_inicio_<%= i %>"
          name="data_inicio_<%= i %>"
          value="<%= vacation.data_inicio.toISOString().split('T')[0] %>"
          required
        />
      </div>

      <div class="mb-3">
        <label for="data_fim_<%= i %>" class="form-label">Data de Fim</label>
        <input
          type="date"
          class="form-control"
          id="data_fim_<%= i %>"
          name="data_fim_<%= i %>"
          value="<%= vacation.data_fim.toISOString().split('T')[0] %>"
          required
        />
      </div>
    </div>
  <% }) %>

  <div class="d-grid">
    <button type="submit" class="btn btn-primary">Salvar Alterações</button>
  </div>
</form>
</div>